In [2]:
import pandas as pd
import os
print(os.path.abspath('../'))
# set the path where you have downloaded the data files
file_path = os.path.abspath('../session 3/')
print(file_path)
train = pd.read_csv(file_path+'/train_income_data_AAII.csv')
test = pd.read_csv(file_path+'/test_income_data_AAII.csv')
# For windows, if the above paths doesn't works
# import os
# f_path = os.path.join(*['C:', 'Users', 'user', 'Desktop', 'train_income_data_AAII.csv'])
# train = pd.read_csv(f_path)
# or maybe try following to reach to the path
# absolute_path = os.path.abspath(os.path.dirname('train_income_data_AAII.csv'))

C:\Users\majid\Desktop\Karachi.AI DATA ANALYST\Python\
C:\Users\majid\Desktop\Karachi.AI DATA ANALYST\Python\session 3\

In [3]:
train.dtypes

ID                 int64
Age                int64
Workclass         object
Education         object
Marital.Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Hours.Per.Week     int64
Native.Country    object
Income.Group      object
dtype: object

# Transforming Data

## Workclass

In [4]:
train['Workclass'].value_counts()/train.shape[0]

Private             0.697030
Self-emp-not-inc    0.078038
Local-gov           0.064279
State-gov           0.039864
Self-emp-inc        0.034274
Federal-gov         0.029483
Without-pay         0.000430
Never-worked        0.000215
Name: Workclass, dtype: float64

In [5]:
combine_value_list = ['State-gov','Self-emp-inc','Federal-gov','Without-pay','Never-worked']

In [6]:
for value in combine_value_list:
    train['Workclass'].replace({value:'Others'}, inplace=True)

In [7]:
train['Workclass'].value_counts()/train.shape[0]

Private             0.697030
Others              0.104266
Self-emp-not-inc    0.078038
Local-gov           0.064279
Name: Workclass, dtype: float64

In [8]:
categorical_columns = list(train.dtypes.loc[train.dtypes=='object'].index)

In [9]:
print(categorical_columns)

['Workclass', 'Education', 'Marital.Status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Native.Country', 'Income.Group']

In [10]:
categorical_columns = categorical_columns[1:]
print(categorical_columns)

['Education', 'Marital.Status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Native.Country', 'Income.Group']

In [11]:
train[categorical_columns].apply(lambda x : len(x.unique()))

Education         16
Marital.Status     7
Occupation        15
Relationship       6
Race               5
Sex                2
Native.Country    42
Income.Group       2
dtype: int64

In [12]:
for column in categorical_columns:
    print(column)
    freq = train[column].value_counts()/train.shape[0]
    print(freq)
    combine_value_list = freq.loc[freq.values < 0.05].index
    print('combine_value_list : ',combine_value_list)

Education
HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: Education, dtype: float64
combine_value_list :  Index(['Assoc-voc', '11th', 'Assoc-acdm', '10th', '7th-8th', 'Prof-school',
       '9th', '12th', 'Doctorate', '5th-6th', '1st-4th', 'Preschool'],
      dtype='object')
Marital.Status
Married-civ-spouse       0.459937
Never-married            0.328092
Divorced                 0.136452
Separated                0.031479
Widowed                  0.030497
Married-spouse-absent    0.012837
Married-AF-spouse        0.000706
Name: Marital.Status, dtype: float64
combine_value_list :  Index(['Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'], dtype='object')
Occupation
Prof-specialty       0.127146
Craft-repair         0.125887
Exec-managerial      0.124873
Adm-clerical         0.115783
Sales                0.112097
Other-service        0.101195
Machine-op-inspct    0.061485
Transport-moving     0.049046
Handlers-cleaners    0.042075
Farming-fishing      0.030527
Tech-support         0.028500
Protective-serv      0.019932
Priv-house-serv      0.004576
Armed-Forces         0.000276
Name: Occupation, dtype: float64
combine_value_list :  Index(['Transport-moving', 'Handlers-cleaners', 'Farming-fishing',
       'Tech-support', 'Protective-serv', 'Priv-house-serv', 'Armed-Forces'],
      dtype='object')
Relationship
Husband           0.405178
Not-in-family     0.255060
Own-child         0.155646
Unmarried         0.105832
Wife              0.048156
Other-relative    0.030128
Name: Relationship, dtype: float64
combine_value_list :  Index(['Wife', 'Other-relative'], dtype='object')
Race
White                 0.854274
Black                 0.095943
Asian-Pac-Islander    0.031909
Amer-Indian-Eskimo    0.009551
Other                 0.008323
Name: Race, dtype: float64
combine_value_list :  Index(['Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'], dtype='object')
Sex
Male      0.669205
Female    0.330795
Name: Sex, dtype: float64
combine_value_list :  Index([], dtype='object')
Native.Country
United-States                 0.895857
Mexico                        0.019748
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Cambodia                      0.000584
Trinadad&Tobago               0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: Native.Country, dtype: float64
combine_value_list :  Index(['Mexico', 'Philippines', 'Germany', 'Canada', 'Puerto-Rico',
       'El-Salvador', 'India', 'Cuba', 'England', 'Jamaica', 'South', 'China',
       'Italy', 'Dominican-Republic', 'Vietnam', 'Guatemala', 'Japan',
       'Poland', 'Columbia', 'Taiwan', 'Haiti', 'Iran', 'Portugal',
       'Nicaragua', 'Peru', 'Greece', 'France', 'Ecuador', 'Ireland', 'Hong',
       'Cambodia', 'Trinadad&Tobago', 'Thailand', 'Laos', 'Yugoslavia',
       'Outlying-US(Guam-USVI-etc)', 'Hungary', 'Honduras', 'Scotland',
       'Holand-Netherlands'],
      dtype='object')
Income.Group
<=50K    0.75919
>50K     0.24081
Name: Income.Group, dtype: float64
combine_value_list :  Index([], dtype='object')

In [13]:
for column in categorical_columns:
    #print(column)
    freq = train[column].value_counts()/train.shape[0]
    #print(freq)
    combine_value_list = freq.loc[freq.values < 0.05].index
    #print('combine_value_list : ',combine_value_list)
    for value in combine_value_list:
        train[column].replace({value:'Others'}, inplace=True)

In [14]:
train[categorical_columns].apply(lambda x : len(x.unique()))

Education         5
Marital.Status    4
Occupation        9
Relationship      5
Race              3
Sex               2
Native.Country    3
Income.Group      2
dtype: int64

In [15]:
train.head()

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
0,1,39,Others,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Others,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,Others,Married-civ-spouse,Others,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Others,Black,Female,40,Others,<=50K

In [27]:
train['Workclass'].unique()

array(['Others', 'Self-emp-not-inc', 'Private', 'Local-gov', nan],
      dtype=object)