In [1]:
import pandas as pd
import os
print(os.path.abspath('../'))
# set the path where you have downloaded the data files
file_path = os.path.abspath('../session 2')
print(file_path)
train = pd.read_csv(file_path+'/train_income_data_AAII.csv')
test = pd.read_csv(file_path+'/test_income_data_AAII.csv')
# For windows, if the above paths doesn't works
# import os
# f_path = os.path.join(*['C:', 'Users', 'user', 'Desktop', 'train_income_data_AAII.csv'])
# train = pd.read_csv(f_path)
# or maybe try following to reach to the path
# absolute_path = os.path.abspath(os.path.dirname('train_income_data_AAII.csv'))

C:\Users\majid\Desktop\Karachi.AI DATA ANALYST\Python\
C:\Users\majid\Desktop\Karachi.AI DATA ANALYST\Python\session 2

In [2]:
type(train)

pandas.core.frame.DataFrame

In [3]:
train.head()

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
0,1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [4]:
# Get dimensions of your data
train.shape

(32561, 12)

In [5]:
train.describe()

                 ID           Age  Hours.Per.Week
count  32561.000000  32561.000000    32561.000000
mean   16281.000000     38.581647       40.437456
std     9399.695394     13.640433       12.347429
min        1.000000     17.000000        1.000000
25%     8141.000000     28.000000       40.000000
50%    16281.000000     37.000000       40.000000
75%    24421.000000     48.000000       45.000000
max    32561.000000     90.000000       99.000000

## Continous Variable

In [6]:
train.dtypes

ID                 int64
Age                int64
Workclass         object
Education         object
Marital.Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Hours.Per.Week     int64
Native.Country    object
Income.Group      object
dtype: object

## Categorical Variables

In [9]:
categorical_var = train.dtypes.loc[train.dtypes=='object'].index
print(categorical_var)

Index(['Workclass', 'Education', 'Marital.Status', 'Occupation',
       'Relationship', 'Race', 'Sex', 'Native.Country', 'Income.Group'],
      dtype='object')

In [10]:
#Number of Unique values in each column
train[categorical_var].apply(lambda x:len(x.unique()))

Workclass          9
Education         16
Marital.Status     7
Occupation        15
Relationship       6
Race               5
Sex                2
Native.Country    42
Income.Group       2
dtype: int64

In [11]:
# What happened up there??

In [12]:
train['Workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [13]:
len(train['Workclass'].unique())

9

In [14]:
# Here we can see that 6 variables have less than 10 unique values but others have 15 or more unique values which seem to be too high.
# Pandas dataframes have an inbuilt routine called value_counts which gives the count of each category.
# We'll take 2 examples here to perform univariate analysis.

In [15]:
# Print counts of each category
train['Race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: Race, dtype: int64

In [16]:
# Percentage of observations in each category:
train['Race'].value_counts()/train.shape[0]

White                 0.854274
Black                 0.095943
Asian-Pac-Islander    0.031909
Amer-Indian-Eskimo    0.009551
Other                 0.008323
Name: Race, dtype: float64

In [17]:
# Here we observe that the top variable itself accounts for ~85% of observations and top 2 combined have ~95% of observations.
# You should keep these observations in mind.

In [20]:
len(train['Native.Country'].unique())

42

In [19]:
train['Native.Country'].value_counts()/train.shape[0]

United-States                 0.895857
Mexico                        0.019748
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Cambodia                      0.000584
Trinadad&Tobago               0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Honduras                      0.000399
Hungary                       0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: Native.Country, dtype: float64

In [20]:
# Here we see that around 89.5 % of our training data belongs to United States

In [21]:
train.groupby('Sex')['Age'].mean()

Sex
Female    36.858230
Male      39.433547
Name: Age, dtype: float64

In [22]:
df4 = train.groupby(['Sex','Race'])['Age'].mean()

In [23]:
df4

Sex     Race
Female  Amer-Indian-Eskimo    37.117647
        Asian-Pac-Islander    35.089595
        Black                 37.854019
        Other                 31.678899
        White                 36.811618
Male    Amer-Indian-Eskimo    37.208333
        Asian-Pac-Islander    39.073593
        Black                 37.682600
        Other                 34.654321
        White                 39.652498
Name: Age, dtype: float64

In [24]:
train.sort_values(by='Age')

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
12318,12319,17,Private,11th,Never-married,Sales,Own-child,White,Female,8,United-States,<=50K
6312,6313,17,Private,11th,Never-married,Sales,Own-child,White,Male,15,United-States,<=50K
30927,30928,17,Private,11th,Never-married,Other-service,Own-child,Black,Male,17,United-States,<=50K
12787,12788,17,Local-gov,11th,Never-married,Adm-clerical,Own-child,White,Female,15,United-States,<=50K
25755,25756,17,NaN,11th,Never-married,NaN,Own-child,White,Male,10,United-States,<=50K
14475,14476,17,Private,11th,Never-married,Sales,Own-child,Black,Female,30,United-States,<=50K
23394,23395,17,Private,10th,Never-married,Other-service,Own-child,White,Female,15,United-States,<=50K
12802,12803,17,Private,10th,Never-married,Sales,Other-relative,Black,Female,12,United-States,<=50K
11925,11926,17,Private,10th,Never-married,Other-service,Own-child,White,Female,20,United-States,<=50K
28770,28771,17,Private,7th-8th,Never-married,Sales,Own-child,White,Male,8,United-States,<=50K
29992,29993,17,Private,11th,Never-married,Sales,Own-child,White,Female,20,United-States,<=50K
30402,30403,17,NaN,11th,Never-married,NaN,Own-child,White,Female,30,United-States,<=50K
27350,27351,17,NaN,11th,Never-married,NaN,Own-child,Black,Female,20,United-States,<=50K
1478,1479,17,Private,11th,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,24,United-States,<=50K
15350,15351,17,NaN,10th,Never-married,NaN,Own-child,White,Female,17,United-States,<=50K
14514,14515,17,Self-emp-inc,10th,Never-married,Craft-repair,Own-child,White,Male,40,United-States,<=50K
7451,7452,17,Private,11th,Never-married,Sales,Own-child,White,Female,20,United-States,<=50K
25203,25204,17,Private,12th,Never-married,Sales,Own-child,White,Female,6,United-States,<=50K
24861,24862,17,Private,10th,Never-married,Other-service,Own-child,White,Male,18,United-States,<=50K
10295,10296,17,Private,11th,Never-married,Other-service,Own-child,White,Female,7,United-States,<=50K
8352,8353,17,Private,11th,Never-married,Sales,Own-child,White,Female,30,United-States,<=50K
28754,28755,17,Private,11th,Never-married,Handlers-cleaners,Own-child,White,Male,16,United-States,<=50K
371,372,17,Private,11th,Never-married,Other-service,Own-child,White,Male,10,United-States,<=50K
15850,15851,17,Private,11th,Never-married,Sales,Own-child,White,Male,20,United-States,<=50K
29982,29983,17,Private,10th,Never-married,Other-service,Own-child,White,Female,10,United-States,<=50K
22857,22858,17,Local-gov,12th,Never-married,Adm-clerical,Own-child,White,Female,12,United-States,<=50K
6874,6875,17,Private,10th,Never-married,Other-service,Own-child,White,Male,10,Canada,<=50K
12838,12839,17,Private,12th,Never-married,Prof-specialty,Own-child,White,Male,7,United-States,<=50K
10836,10837,17,Private,11th,Never-married,Other-service,Own-child,Black,Male,20,United-States,<=50K
26088,26089,17,Private,11th,Never-married,Handlers-cleaners,Not-in-family,Black,Female,15,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
4109,4110,90,NaN,Bachelors,Widowed,NaN,Other-relative,White,Female,10,United-States,<=50K
10545,10546,90,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50,Ecuador,>50K
12975,12976,90,Private,10th,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,<=50K
5272,5273,90,Private,9th,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States,<=50K
22220,22221,90,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,40,United-States,<=50K
15356,15357,90,Private,HS-grad,Widowed,Transport-moving,Unmarried,White,Male,99,United-States,<=50K
24238,24239,90,NaN,1st-4th,Widowed,NaN,Not-in-family,Black,Female,40,United-States,<=50K
2303,2304,90,Private,Some-college,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
18277,18278,90,Private,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,20,NaN,<=50K
20610,20611,90,Private,Masters,Married-civ-spouse,Prof-specialty,Wife,White,Female,40,United-States,>50K
18725,18726,90,Local-gov,HS-grad,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,<=50K
14159,14160,90,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,20,Philippines,<=50K
8806,8807,90,Private,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,72,United-States,>50K
1040,1041,90,Private,HS-grad,Never-married,Other-service,Not-in-family,White,Female,40,United-States,<=50K
6624,6625,90,Private,11th,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
31696,31697,90,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,40,United-States,>50K
25303,25304,90,NaN,7th-8th,Separated,NaN,Not-in-family,White,Female,15,United-States,<=50K
18413,18414,90,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Female,10,United-States,<=50K
11512,11513,90,Private,HS-grad,Never-married,Other-service,Own-child,White,Female,24,United-States,<=50K
19212,19213,90,Private,Some-college,Divorced,Sales,Unmarried,Black,Female,37,United-States,<=50K
8973,8974,90,Private,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,15,United-States,>50K
11731,11732,90,NaN,HS-grad,Widowed,NaN,Not-in-family,White,Male,4,United-States,<=50K
28463,28464,90,Federal-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,30,United-States,<=50K
11996,11997,90,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Male,55,United-States,<=50K
15892,15893,90,Private,Bachelors,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,England,>50K
24043,24044,90,Self-emp-not-inc,HS-grad,Never-married,Exec-managerial,Not-in-family,White,Male,12,United-States,<=50K
32277,32278,90,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,25,United-States,<=50K
5104,5105,90,Private,Some-college,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
8963,8964,90,NaN,HS-grad,Widowed,NaN,Not-in-family,White,Female,40,United-States,<=50K
10210,10211,90,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,40,United-States,<=50K

In [25]:
train.sort_values(by='Age',ascending=False)

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
5406,5407,90,Private,Masters,Never-married,Exec-managerial,Not-in-family,Black,Male,50,United-States,>50K
6624,6625,90,Private,11th,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
20610,20611,90,Private,Masters,Married-civ-spouse,Prof-specialty,Wife,White,Female,40,United-States,>50K
1040,1041,90,Private,HS-grad,Never-married,Other-service,Not-in-family,White,Female,40,United-States,<=50K
1935,1936,90,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,<=50K
32367,32368,90,Local-gov,7th-8th,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,<=50K
18832,18833,90,Private,Masters,Never-married,Exec-managerial,Own-child,White,Female,40,United-States,<=50K
18277,18278,90,Private,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,20,NaN,<=50K
19212,19213,90,Private,Some-college,Divorced,Sales,Unmarried,Black,Female,37,United-States,<=50K
25303,25304,90,NaN,7th-8th,Separated,NaN,Not-in-family,White,Female,15,United-States,<=50K
28463,28464,90,Federal-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,30,United-States,<=50K
5272,5273,90,Private,9th,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States,<=50K
18413,18414,90,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Female,10,United-States,<=50K
14159,14160,90,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,20,Philippines,<=50K
4109,4110,90,NaN,Bachelors,Widowed,NaN,Other-relative,White,Female,10,United-States,<=50K
31030,31031,90,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,<=50K
11512,11513,90,Private,HS-grad,Never-married,Other-service,Own-child,White,Female,24,United-States,<=50K
15356,15357,90,Private,HS-grad,Widowed,Transport-moving,Unmarried,White,Male,99,United-States,<=50K
4070,4071,90,Private,11th,Never-married,Handlers-cleaners,Own-child,White,Male,40,United-States,<=50K
2303,2304,90,Private,Some-college,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
2891,2892,90,Private,Some-college,Separated,Adm-clerical,Own-child,White,Female,40,Puerto-Rico,<=50K
10210,10211,90,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,40,United-States,<=50K
8963,8964,90,NaN,HS-grad,Widowed,NaN,Not-in-family,White,Female,40,United-States,<=50K
8973,8974,90,Private,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,15,United-States,>50K
31696,31697,90,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,40,United-States,>50K
5104,5105,90,Private,Some-college,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
6232,6233,90,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,<=50K
22220,22221,90,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,40,United-States,<=50K
32277,32278,90,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,25,United-States,<=50K
12975,12976,90,Private,10th,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
22857,22858,17,Local-gov,12th,Never-married,Adm-clerical,Own-child,White,Female,12,United-States,<=50K
13807,13808,17,Private,11th,Never-married,Sales,Own-child,White,Female,15,United-States,<=50K
11097,11098,17,Private,11th,Never-married,Handlers-cleaners,Own-child,White,Male,25,United-States,<=50K
13812,13813,17,Private,10th,Never-married,Sales,Own-child,White,Male,5,United-States,<=50K
29684,29685,17,Private,10th,Never-married,Other-service,Own-child,White,Male,20,United-States,<=50K
29673,29674,17,Private,11th,Never-married,Other-service,Own-child,White,Female,15,United-States,<=50K
19380,19381,17,Private,10th,Never-married,Other-service,Own-child,White,Male,15,United-States,<=50K
27502,27503,17,Private,11th,Never-married,Handlers-cleaners,Own-child,White,Male,15,United-States,<=50K
25021,25022,17,Private,11th,Never-married,Craft-repair,Own-child,White,Male,20,United-States,<=50K
25024,25025,17,Private,11th,Never-married,Other-service,Not-in-family,White,Male,20,United-States,<=50K
7947,7948,17,Private,10th,Never-married,Tech-support,Own-child,White,Male,10,United-States,<=50K
29764,29765,17,Private,11th,Never-married,Other-service,Own-child,White,Female,20,United-States,<=50K
19211,19212,17,Private,11th,Never-married,Other-service,Own-child,White,Male,15,United-States,<=50K
31864,31865,17,Private,12th,Never-married,Adm-clerical,Own-child,White,Female,25,United-States,<=50K
2278,2279,17,Private,10th,Never-married,Sales,Other-relative,White,Female,10,United-States,<=50K
11084,11085,17,Private,10th,Never-married,Other-service,Not-in-family,White,Male,20,El-Salvador,<=50K
19003,19004,17,Private,11th,Never-married,Adm-clerical,Other-relative,White,Female,10,United-States,<=50K
27350,27351,17,NaN,11th,Never-married,NaN,Own-child,Black,Female,20,United-States,<=50K
19134,19135,17,NaN,10th,Never-married,NaN,Own-child,White,Female,40,United-States,<=50K
29810,29811,17,Private,11th,Never-married,Handlers-cleaners,Own-child,White,Male,10,United-States,<=50K
22957,22958,17,Private,11th,Never-married,Adm-clerical,Own-child,White,Female,20,United-States,<=50K
15850,15851,17,Private,11th,Never-married,Sales,Own-child,White,Male,20,United-States,<=50K
29795,29796,17,Private,11th,Never-married,Other-service,Other-relative,White,Female,20,United-States,<=50K
2381,2382,17,Private,11th,Never-married,Craft-repair,Own-child,White,Male,10,United-States,<=50K
19173,19174,17,Private,11th,Never-married,Other-service,Own-child,White,Male,20,United-States,<=50K
609,610,17,Private,10th,Never-married,Other-service,Own-child,White,Female,21,United-States,<=50K
22928,22929,17,NaN,10th,Never-married,NaN,Own-child,White,Female,4,United-States,<=50K
19190,19191,17,Private,12th,Never-married,Handlers-cleaners,Own-child,White,Male,15,United-States,<=50K
19206,19207,17,Private,10th,Never-married,Other-service,Own-child,White,Female,25,United-States,<=50K
24954,24955,17,Private,11th,Never-married,Adm-clerical,Own-child,White,Male,16,United-States,<=50K

In [26]:
train.sort_values(by=['Age','Hours.Per.Week'],ascending=False)

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
15356,15357,90,Private,HS-grad,Widowed,Transport-moving,Unmarried,White,Male,99,United-States,<=50K
8806,8807,90,Private,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,72,United-States,>50K
5370,5371,90,Local-gov,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,>50K
11996,11997,90,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Male,55,United-States,<=50K
5406,5407,90,Private,Masters,Never-married,Exec-managerial,Not-in-family,Black,Male,50,United-States,>50K
6232,6233,90,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,<=50K
10545,10546,90,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50,Ecuador,>50K
1935,1936,90,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,<=50K
222,223,90,Private,HS-grad,Never-married,Other-service,Not-in-family,Black,Male,40,United-States,<=50K
1040,1041,90,Private,HS-grad,Never-married,Other-service,Not-in-family,White,Female,40,United-States,<=50K
2891,2892,90,Private,Some-college,Separated,Adm-clerical,Own-child,White,Female,40,Puerto-Rico,<=50K
4070,4071,90,Private,11th,Never-married,Handlers-cleaners,Own-child,White,Male,40,United-States,<=50K
5272,5273,90,Private,9th,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States,<=50K
6624,6625,90,Private,11th,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
8963,8964,90,NaN,HS-grad,Widowed,NaN,Not-in-family,White,Female,40,United-States,<=50K
10210,10211,90,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,40,United-States,<=50K
12975,12976,90,Private,10th,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,<=50K
15892,15893,90,Private,Bachelors,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,England,>50K
18725,18726,90,Local-gov,HS-grad,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,<=50K
18832,18833,90,Private,Masters,Never-married,Exec-managerial,Own-child,White,Female,40,United-States,<=50K
19489,19490,90,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,<=50K
19747,19748,90,Private,7th-8th,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,<=50K
20610,20611,90,Private,Masters,Married-civ-spouse,Prof-specialty,Wife,White,Female,40,United-States,>50K
22220,22221,90,Private,Bachelors,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,40,United-States,<=50K
24238,24239,90,NaN,1st-4th,Widowed,NaN,Not-in-family,Black,Female,40,United-States,<=50K
31030,31031,90,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,<=50K
31696,31697,90,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,40,United-States,>50K
32367,32368,90,Local-gov,7th-8th,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,<=50K
19212,19213,90,Private,Some-college,Divorced,Sales,Unmarried,Black,Female,37,United-States,<=50K
2303,2304,90,Private,Some-college,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
1519,1520,17,Local-gov,9th,Never-married,Other-service,Own-child,Black,Male,9,United-States,<=50K
10180,10181,17,Private,11th,Never-married,Priv-house-serv,Own-child,White,Female,9,United-States,<=50K
22496,22497,17,Private,11th,Never-married,Sales,Own-child,White,Female,9,United-States,<=50K
2908,2909,17,Private,12th,Never-married,Other-service,Own-child,White,Female,8,United-States,<=50K
6542,6543,17,NaN,11th,Never-married,NaN,Own-child,White,Female,8,United-States,<=50K
9655,9656,17,Private,10th,Never-married,Other-service,Own-child,White,Male,8,United-States,<=50K
12318,12319,17,Private,11th,Never-married,Sales,Own-child,White,Female,8,United-States,<=50K
12409,12410,17,Private,11th,Never-married,Sales,Own-child,White,Female,8,United-States,<=50K
12981,12982,17,NaN,10th,Never-married,NaN,Own-child,White,Male,8,United-States,<=50K
19788,19789,17,NaN,11th,Never-married,NaN,Own-child,White,Female,8,United-States,<=50K
20267,20268,17,Private,11th,Never-married,Sales,Own-child,White,Female,8,United-States,<=50K
22423,22424,17,Private,10th,Never-married,Other-service,Own-child,White,Male,8,United-States,<=50K
28517,28518,17,Private,11th,Never-married,Adm-clerical,Own-child,White,Female,8,United-States,<=50K
28770,28771,17,Private,7th-8th,Never-married,Sales,Own-child,White,Male,8,United-States,<=50K
30209,30210,17,NaN,11th,Never-married,NaN,Own-child,Black,Male,8,United-States,<=50K
10295,10296,17,Private,11th,Never-married,Other-service,Own-child,White,Female,7,United-States,<=50K
12838,12839,17,Private,12th,Never-married,Prof-specialty,Own-child,White,Male,7,United-States,<=50K
476,477,17,Private,9th,Never-married,Other-service,Not-in-family,White,Male,6,United-States,<=50K
9803,9804,17,Private,10th,Never-married,Other-service,Own-child,White,Female,6,United-States,<=50K
16131,16132,17,Private,12th,Never-married,Other-service,Own-child,White,Female,6,United-States,<=50K
23544,23545,17,NaN,10th,Never-married,NaN,Other-relative,White,Male,6,United-States,<=50K
25203,25204,17,Private,12th,Never-married,Sales,Own-child,White,Female,6,United-States,<=50K
449,450,17,NaN,11th,Never-married,NaN,Own-child,White,Female,5,United-States,<=50K
1389,1390,17,Private,11th,Never-married,Other-service,Own-child,White,Male,5,United-States,<=50K
13812,13813,17,Private,10th,Never-married,Sales,Own-child,White,Male,5,United-States,<=50K
26864,26865,17,Private,11th,Never-married,Other-service,Own-child,White,Female,5,United-States,<=50K
29226,29227,17,Private,10th,Never-married,Sales,Own-child,White,Female,5,United-States,<=50K
31131,31132,17,Private,11th,Never-married,Sales,Own-child,White,Male,5,United-States,<=50K
9821,9822,17,Self-emp-inc,10th,Never-married,Other-service,Own-child,White,Male,4,United-States,<=50K
22928,22929,17,NaN,10th,Never-married,NaN,Own-child,White,Female,4,United-States,<=50K

In [24]:
train.head()

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
0,1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [29]:
train.groupby(['Sex','Workclass'])['Age'].mean()

Sex     Workclass
Female  Federal-gov         41.936508
        Local-gov           41.729341
        Never-worked        24.000000
        Private             35.571336
        Self-emp-inc        43.674074
        Self-emp-not-inc    43.849624
        State-gov           38.404908
        Without-pay         58.600000
Male    Federal-gov         42.910078
        Local-gov           41.765501
        Never-worked        19.200000
        Private             37.433686
        Self-emp-inc        46.339450
        Self-emp-not-inc    45.178338
        State-gov           40.059333
        Without-pay         41.777778
Name: Age, dtype: float64